/* Patch for Github Markdown dark mode */
.markdown-body {
    background-color: inherit !important;
}

/* Patch for bytemd */
.bytemd {
    color: inherit !important;
    border: inherit !important;
    background-color: #2f3033 !important;
}

.bytemd-toolbar {
    color: inherit !important;
    background-color: #313336 !important;
}

.bytemd-toolbar-icon:hover {
    background-color: #000000 !important;
}

.CodeMirror {
    color: inherit !important;
    background-color: inherit !important;
}

.CodeMirror-activeline-background {
    background-color: #7f7f7f !important;
}

.CodeMirror-selected {
    background: #646464 !important;
}

.CodeMirror-focused .CodeMirror-selected {
    background: #707070 !important;
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
    background: #707070 !important;
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
    background: #707070 !important;
}

.CodeMirror-cursor {
    border-left: 1px solid white;
    border-right: none;
    width: 0;
}
